@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300&display=swap');

* {
    outline: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #000;
}

ul li {
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
}

i {
    color: #fff;
    cursor: pointer;
}

p {
    color: white;
}

h1, h2, h3, h4, h5 {
    color: white;
}

header {
    background: url("../image/filmes.png");
    background-size: cover;
    width: 100%;
    height: 100vh;
}

header nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 12px 15px;
    width: 90%;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 12px;
}

.logo__image {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.logo__titulo {
    font-size: 2rem;
    color: #fff;
}

.titulo_colorido {
    color: #d35400;
}

.links {
    display: flex;
    align-items: center;
    grid-gap: 12px;
    margin-right: 6.5rem;
}

.links li a:hover {
    transition: all 200ms ease-in;
    border-bottom: 2px solid #d35400;
} 

nav ul:nth-child(3) {
    display: flex;
    align-items: center;
    grid-gap: 20px;
}

header h1 {
    margin-top: 12rem;
    font-size: 4rem;
    text-align: left;
    width: 80%;
    padding: 15px 30px;
}

header h2 {
    font-size: 1.1rem;
    text-align: left;
    padding: 0px 30px;
    font-weight: 400;
    width: 80%;
}

.btn {
    width: 80%;
    text-align: left;
    padding: 0px 30px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    grid-gap: 30px;
}

.btn li:first-child {
    width: 100px;
    background-color: #d35400;
    text-align: center;
    padding: 12px 18px;
    border-radius: 8px;
}

.btn li:first-child:hover {
    transition: all 200ms ease-out;
    border: 1px solid #d35400;
    background-color: transparent;
}

.btn__plan a {
    width: 100px;
    border: 1px solid #fff;
    text-align: center;
    padding: 12px 18px;
    border-radius: 8px;
}

.btn__plan a:hover {
    border: 1px solid #d35400;
    transition: all 200ms ease-out;
    background-color: #d35400;
}

main {
    text-align: center;
}

.categorias__titulo {
    padding-top: 40px;
    background-color: #e67e22;
    padding-bottom: 40px;
}

.caracteristicas__titulo {
    font-size: 2.1rem;
    margin-bottom: 2rem;
}

.caracteristicas__bloco1 {
    width: 70%;
    padding: 18px;
    text-align: center;
    border-radius: 8px;
    font-size: 1.2rem;
    background-color: #d35400;
}

.caracteristicas__bloco1 p, .caracteristicas__bloco2 p, .caracteristicas__bloco3 p, .caracteristicas__bloco4 p {
    font-size: .8rem;
    text-align: center;
    padding: 20px;
}

.caracteristicas__bloco2 {
    width: 70%;
    padding: 18px;
    text-align: center;
    border-radius: 8px;
    font-size: 1.2rem;
    background-color: #d35400;
}

.caracteristicas__bloco3 {
    width: 70%;
    padding: 18px;
    text-align: center;
    border-radius: 8px;
    font-size: 1.2rem;
    background-color: #d35400;
}

.caracteristicas__bloco4 {
    width: 70%;
    padding: 18px;
    text-align: center;
    border-radius: 8px;
    font-size: 1.2rem;
    background-color: #d35400;
}

.caracteristicas__blocos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    text-align: center;
    grid-gap: 4rem;
    margin-bottom: 2rem;
    width: 90%;
    margin: 0 auto;
}

.movie {
    margin-top: 4rem;
    margin-bottom: 5rem;
}

.movie_conteudo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 5.8rem;
    width: 100%;
    cursor: pointer;
}

.movie_conteudo div {
    background-color: #fff;
    border-radius: 8px;
    padding: 32px;
}

.movie_conteudo div img {
    width: 310px;
    height: 310px;
    object-fit: cover;
    margin-top: -5rem;
    border-radius: 8px;
}

.movie_conteudo div img:hover {
    padding-bottom: 2.2rem;
}

.movie_conteudo div p {
    color: #333;
    margin-top: 12px;
    font-size: 1.3rem;
}

footer {
    background-color: #d35400;
    width: 100%;
    padding: 12px 18px;
    text-align: center;
    color: #fff;
    margin-top: 5rem;
}

footer a {
    color: #deeded;
    font-weight: 600;
}

@media screen and (min-width: 320px) and (max-width: 1024) {
    .links {
        flex-wrap: wrap;
        margin-bottom: 12px;
    }
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
    .links {
        flex-wrap: wrap;
        margin-bottom: 12px;
    }

    header h1 {
        font-size: 2.5rem;
        margin-top: 1.8rem;
        width: 100%;
    }
}